<!--Dame un footer bien bonito xfa con BS-->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Todo los derechos reservados :) Anyel EC</span>
  </div>
</footer>


<!-- llama a Script de bootstrap 5 por CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

